In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv("Cricketer_Stats.csv")
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254,12340,4,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90,1300,230,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120,4500,170,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150,-500,0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67,50,108,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150,6700,0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,-10,6500,300,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100,900,220,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228,9577,2,53.5,0.0,Batsman
9,9,AB de Villiers,38,South Africa,228,9577,2,53.5,0.0,Batsman
10,10,Mitchell Starc,32,Australia,97,550,200,12.5,23.5,Bowler

In [14]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
dtype: bool

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PlayerID        11 non-null     int64
 1   Name            11 non-null     object
 2   Age             11 non-null     int64
 3   Country         11 non-null     object
 4   Matches_Played  11 non-null     int64
 5   Runs            11 non-null     int64
 6   Wickets         11 non-null     int64
 7   Batting_Avg     11 non-null     float64
 8   Bowling_Avg     11 non-null     float64
 9   Role            11 non-null     object
dtypes: float64(2), int64(5), object(3)
memory usage: 1012.0+ bytes

In [16]:
df.drop_duplicates(inplace=True)
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254,12340,4,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90,1300,230,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120,4500,170,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150,-500,0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67,50,108,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150,6700,0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,-10,6500,300,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100,900,220,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228,9577,2,53.5,0.0,Batsman
10,10,Mitchell Starc,32,Australia,97,550,200,12.5,23.5,Bowler

In [17]:
df.reset_index(drop=True, inplace=True)
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254,12340,4,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90,1300,230,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120,4500,170,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150,-500,0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67,50,108,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150,6700,0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,-10,6500,300,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100,900,220,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228,9577,2,53.5,0.0,Batsman
9,10,Mitchell Starc,32,Australia,97,550,200,12.5,23.5,Bowler

In [18]:
len(df)

10

In [19]:
df.loc[df['Runs'] < 0, 'Runs'] = np.nan
df.loc[df['Matches_Played'] < 0, 'Matches_Played'] = np.nan
df.loc[df['Wickets'] < 0, 'Wickets'] = np.nan
df.loc[df['Batting_Avg'] < 0, 'Batting_Avg'] = np.nan
df.loc[df['Bowling_Avg'] < 0, 'Bowling_Avg'] = np.nan
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254.0,12340.0,4.0,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90.0,1300.0,230.0,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120.0,4500.0,170.0,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150.0,NaN,0.0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67.0,50.0,108.0,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150.0,6700.0,0.0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,NaN,6500.0,300.0,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100.0,900.0,220.0,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228.0,9577.0,2.0,53.5,0.0,Batsman
9,10,Mitchell Starc,32,Australia,97.0,550.0,200.0,12.5,23.5,Bowler

In [20]:
df['Country'].unique()
df['Role'].unique()

array(['Batsman', 'Bowler', 'All-Rounder'], dtype=object)

In [21]:
df['Role'] = df['Role'].replace({
    'all-rounder': 'All-Rounder',  
    'batsman': 'Batsman',
    'bowler': 'Bowler'
})
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254.0,12340.0,4.0,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90.0,1300.0,230.0,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120.0,4500.0,170.0,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150.0,NaN,0.0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67.0,50.0,108.0,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150.0,6700.0,0.0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,NaN,6500.0,300.0,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100.0,900.0,220.0,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228.0,9577.0,2.0,53.5,0.0,Batsman
9,10,Mitchell Starc,32,Australia,97.0,550.0,200.0,12.5,23.5,Bowler

In [22]:
df['Runs'] = df['Runs'].fillna(round(df['Runs'].mean()))
df['Matches_Played'] = df['Matches_Played'].fillna(round(df['Matches_Played'].median()))
df['Wickets'] = df['Wickets'].fillna(round(df['Wickets'].median()))
df['Batting_Avg'] = df['Batting_Avg'].fillna(round(df['Batting_Avg'].mean()))
df['Bowling_Avg'] = df['Bowling_Avg'].fillna(round(df['Bowling_Avg'].mean()))
df

,PlayerID,Name,Age,Country,Matches_Played,Runs,Wickets,Batting_Avg,Bowling_Avg,Role
0,1,Virat Kohli,35,India,254.0,12340.0,4.0,59.3,0.0,Batsman
1,2,Rashid Khan,25,Afghanistan,90.0,1300.0,230.0,18.2,21.4,Bowler
2,3,Ben Stokes,31,England,120.0,4500.0,170.0,42.5,32.1,All-Rounder
3,4,Steve Smith,33,Australia,150.0,4713.0,0.0,61.7,0.0,Batsman
4,5,Jasprit Bumrah,29,India,67.0,50.0,108.0,12.5,24.3,Bowler
5,6,Kane Williamson,32,New Zealand,150.0,6700.0,0.0,55.2,0.0,Batsman
6,7,Shakib Al Hasan,34,Bangladesh,120.0,6500.0,300.0,38.1,31.0,All-Rounder
7,8,Trent Boult,32,New Zealand,100.0,900.0,220.0,15.3,25.4,Bowler
8,9,AB de Villiers,38,South Africa,228.0,9577.0,2.0,53.5,0.0,Batsman
9,10,Mitchell Starc,32,Australia,97.0,550.0,200.0,12.5,23.5,Bowler